@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Kanit&family=Nunito&family=Raleway&family=Source+Code+Pro&display=swap');

/* Defining colors and fonts */

:root {
    /* Colors */
    --background: #1a1a27;
    --color: #e8c3ff;
    --divider: #abb3d4;
    --blue: #637ce0;
    --purple: #bb9af7;
    --green: #9aedae;
    --red: #ed7777;
    --aqua: #a1ffeb;

    /* Fonts */
    --nunito: 'Nunito', sans-serif;
    --kanit: 'Kanit', sans-serif;
    --scp: 'Source Code Pro', monospace;
    --raleway: 'Raleway', sans-serif;
    --fira: 'Fira Code', monospace;
}

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
}

body {
    background-color: var(--background);
    color: var(--color);
}

/* Some elements */

.center {
    padding: 5% 30%;
}

.centered {
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.divider {
    border-top: 1px solid var(--divider);
    margin: 5% 0;
}

.link {
    color: var(--aqua);
    font-family: var(--fira);
    text-decoration: underline dotted;
    padding: 1%;
}

.link:hover {
    text-decoration: none;
}

.horizontal {
    display: flex;
    flex-direction: row;
    margin: 3% 0;
    overflow-x: scroll;
}

/* Assigning colors */

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.aqua {
    color: var(--aqua);
}

.red {
    color: var(--red);
}

.purple {
    color: var(--purple);
}

.text {
    color: var(--color);
}

/* Styling TITLE and DESCRIPTION section */

.title {
    color: var(--blue);
    font-size: 40px;
    font-family: var(--fira);
}

.subtitle {
    color: var(--color);
    font-family: var(--scp);
}

.description {
    font-family: var(--scp);
    padding: 1% 0;
}

/* Styling the terminal */

.terminal {
    font-family: var(--fira);
}

.terminal-title {
    color: var(--purple);
    font-size: 20px;
}

.label {
    font-family: var(--fira);
    font-size: 16px;
}

.input {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color);
    font-family: var(--scp);
    padding: 0 1%;
    font-size: 16px;
}

.option {
    color: var(--aqua);
    font-family: var(--scp);
    padding: 1% 0;
}

.response {
    color: var(--purple);
    font-family: var(--scp);
}

/* Image */

.image-container {
    overflow: scroll;
    margin: 3% 0;
    display: grid;
    height: 100%;
}

.image {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/* Media queries */

@media only screen and (max-width: 800px) {
    .center {
        padding: 3% 10%;
    }

    .divider {
        margin: 3% 0;
    }
}